<div id="login-toolbar">
      <% if current_user %>
            <p>Welcome, <%= current_user.username %> </p>
            <p><a href="/logout">Logout</a></p>
            <% unless user_page? %>
              <a href="/user/<%= current_user.id %>">Posts and Account Settings</a>
            <% end %>
      <% else %> 
        <% unless login_page? %>
            <a href="/login">Login or Sign up</a>
        <% end %>
      <% end %>
      <% unless main_page? %>
        <a href="/">Main</a>
      <% end %>
</div>